<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="dist/app.css">
    <!-- Title -->
    <title>Sass Painter Photoshop</title>
  </head>
  <body>

    <div id="app">

      <header>

        <div class="headerSopra">
          <div>
            <img src="https://www.adobe.com/content/dam/cc/icons/Adobe_Corporate_Horizontal_Red_HEX.svg" alt="">
            <h1>Adobe</h1>
          </div>

          <ul>
            <li v-for="item in listaHeaderSopra"><a href="">{{item}} <i class="fas fa-chevron-down fa-xs"></i></a></li>
          </ul>

          <div>
            <i class="fas fa-search"></i>
            <button class="btn" type="button" name="button">Accedi</button>
          </div>
        </div>

        <div class="headerSotto">
          <ul>
            <li v-for="item in listaHeaderSotto"><a href="">{{item}}</a></li>
            <button class="btn btnBlue" type="button" name="button">Acquista</button>
          </ul>
        </div>

      </header>

      <main>

        <section class="hero">
          <div>

            <img src="img/photoshop.svg" alt="">
            <h2>Crea. Credi in te. Fidati di Photoshop.</h2>
            <h4>Accedi a Photoshop su PC e iPad a soli 9,75€/mese.</h4>
            <button class="btn btnWhite" type="button" name="button">Prova Gratuita</button>
            <button class="btn btnBlue" type="button" name="button">Acquista</button>

          </div>
        </section>

        <section class="boxes">

          <div class="box" v-for="item in boxesDiv">

            <div class="immagine">

              <img :src="item.foto" alt="">

            </div>

            <div class="testo">
              <h4>{{item.titolo}}</h4>
              <p>{{item.testo}}</p>
            </div>

          </div>

        </section>

      </main>

      <footer>

      </footer>

    </div>

    <!-- Vue (Development Version) -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- Js -->
    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
