// Reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

// Mix
.btn{
  padding: 10px 20px;
  color: white;
  border: none;
  background-color: inherit;
  border-radius: 25px;
  font-weight: bold;
}
.btnBlue{
  background-color: $coloreBottone;
}

header{

  & > div{

    &.headerSopra{
    display: flex;
    justify-content: space-around;
    align-items: center;

      & div:first-child:hover{
        cursor: pointer;
      }

      & > div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;

        & > img{
          height: 80%;
        }

        & > h1{
          color: red;
          font-size: $fontMedio;
          padding-left: 10px;
        }

        & i{
          cursor: pointer;

          &:hover{
            color: $coloreBottone;
          }
        }

        & > button{
          color: $coloreBodyText;
          margin-left: 10px;
          cursor: pointer;

          &:hover{
            color: $coloreBottone;
          }
        }
      }
    }

    &.headerSotto{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fdfcff;

      & button{
        margin-left: 20px;

        &:hover{
          background-color: $coloreBottoneHover;
        }
      }
    }

    & ul li{
      display: inline-block;
      padding: 30px 20px;
      cursor: pointer;

      &:hover{
        background-color: $coloreBottoneSfondo;
      }

      & a{
        text-decoration: none;
        color: $coloreBodyText;
        font-size: $fontPiccolo;
        font-weight: bold;
      }
    }
  }
}

main{

  & .hero{
    height: 90vh;
    background-image: url("https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440");
    color: white;
    position: relative;

    & div{
      position: absolute;
      top: 150px;
      left: 150px;

      & img{
        height: 50px;
        margin: 30px 0px;
      }

      & h2{
        font-size: $fontGrande;
        width: 75%;
      }

      & h4{
        font-size: $fontMedio;
        font-weight: normal;
        margin: 20px 0px;
      }

      & button{
        margin-right: 15px;
        font-size: $fontMedio;

        &.btnWhite{
          border: 1px solid white;

          &:hover{
            color: black;
            background-color: white;
          }
        }

        &.btnBlue:hover{
          background-color: $coloreBottoneHover;
        }

      }
    }

  }

  & .boxes{
    width: 80%;
    margin: auto;

    & .box{
      display: flex;
      align-items: center;
      margin: 75px 0px;

      &:nth-child(2n){
        flex-direction: row-reverse;
      }

      & .immagine{
        width: 60%;
        display: flex;
        justify-content: center;

        & img{
          width: 90%;
        }
      }

      & .testo{
        width: 40%;
        color: $coloreBodyText;

        & h4{
          font-size: $fontGrande;
          margin-bottom: 15px;
        }

        & p{
          font-size: $fontMedio;
        }
      }
    }
  }

}
